<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr><td>8:00-8:30am</td> <td> Setup / install software if necessary</td></tr>
      <tr><td>8:30am-12:00pm</td> <td> <a href=http://www.datacarpentry.org/spreadsheet-ecology-lesson/>Data organization in spreadsheets</a></td></tr>
      <tr><td>1:00pm-4:30pm</td><td><a href=http://www.datacarpentry.org/R-ecology-lesson/>Introduction to R</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>8:30am-12:00pm</td> <td><a href=http://www.datacarpentry.org/R-ecology-lesson/>Continuation of R: data analysis & visualization</a></td></tr>
      <tr> <td>1:00pm-4:30pm</td><td><a href=http://www.datacarpentry.org/sql-ecology-lesson/>Data management with SQL</a></td></tr>
    </table>
  </div>
</div>

Note: coffee breaks will be provided during each session and lunch will be provided.
